$website-width: 1024px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$border-color: #756464;

$showcase-image: url('../images/muhammetgok_home.jpg');
$background-image: url('../images/background-image.jpg');
$gallery-background: url('../images/gallery-background.jpg');
$about-image: url('../images/about.jpg');

// Set Text Color

@function set-text-color($color) {
  @if (lightness($color) >50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
